.topFixedBanner {
  background-image: url(../image/online-education-and-e-learning-banner-with-computer-vector.jpg);
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topBannerOverlay {
  position: absolute;
  min-height: 550px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.topContent {
  margin-top: 15rem;
}

.topTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
}

.topSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}

.fixIcon {
  height: 80px;
  width: 80px;
}

.serviceCard {
  margin: 5px;
  height: 22rem;
  padding: 60px 30px 60px 30px;
  box-shadow: 0 0 8px 0 rgba(4, 55, 105, 0.2);
}

.serviceCard:hover {
  margin: 5px;
  height: 22rem;
  padding: 60px 30px 60px 30px;
  box-shadow: 0 0 16px 0 rgba(4, 55, 105, 0.2);
}

.serviceName {
  color: #051b35;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.serviceDescription {
  color: #858585;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.serviceMainTitle {
  color: #505050;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.bottom {
  background: #051b35 none repeat scroll 0 0;
  height: 3px;
  width: 85px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

.navTitle {
  font-family: "Montserrat", sans-serif;
  color: #fff !important;
  font-weight: 700;
  font-size: 30px;
}

.navTitleScroll {
  font-family: "Montserrat", sans-serif;
  color: #051b35 !important;
  font-weight: 700;
  font-size: 30px;
}

.navBackground {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.navBackgroundScroll {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: rgba(11, 134, 171, 0.7);
}

.navItem {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.navItemScroll {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: #051b35;
  font-weight: 700;
  font-size: 16px;
}

.summaryBanner {
  background-image: url(../image/summary-banner.jpg);
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.summaryBannerOverlay {
  position: absolute;
  min-height: 400px;
  width: 100%;
  background: rgba(44, 202, 227, 0.5);
}

.countNumber {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.countTitle {
  color: #ffd900;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.countSection {
  margin-top: 20% !important;
}

.cardTitle {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.cardSubTitle {
  text-align: justify;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 4px;
  font-size: 14px;
}

.workCard {
  margin-top: 30%;
  padding: 10px;
  border-radius: 3px;
}

.iconBullent {
  color: #051b35;
  font-size: 16px;
}

.iconProject {
  color: #fff;
  font-size: 40px;
}

.projectCard {
  background: #fff;
  width: 22em;
  border-radius: 0.6em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 13px 25px -5px;
  transition: all ease 200ms;
}

.projectCard:hover {
  box-shadow: 0 13px 30px -5px;
  transform: scale(1.03);
}

.courseWidth {
  width: 100%;
  height: 250px !important;
}

.courseImg {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.text-justify {
  text-align: justify;
}

.courseViewMore {
  color: #051b35;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.videoCard {
  box-shadow: 0 13px 10px -5px;
  padding: 8rem 3rem 8rem 3rem;
  background-color: #051b35;
  margin: auto;
  border-radius: 5px;
}

.videoText {
  margin-top: 2%;
}

.siderBack {
  background-color: #051b35;
  min-height: 400px;
}

.reviewMainTitle {
  color: #051b35;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.reviewbottom {
  background: #051b35 none repeat scroll 0 0;
  height: 3px;
  width: 85px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

.circleImg {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.reviewName {
  color: #fff;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.reviewDescription {
  color: #fff;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.aboutMeImage {
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.aboutImg {
  height: 80%;
  margin-top: 210px;
}

.aboutMeBody {
  width: 100%;
  height: 100%;
  padding-left: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.aboutMeTitle {
  color: #051b35;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.aboutMeDeTails {
  color: #051b35;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.Typewriter {
  display: inline;
}

.footerSection {
  margin-top: 5rem;
  box-shadow: 0 0 8px 0;
  background-color: #051b35;
}

.footerName {
  color: #fff;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.point {
  cursor: pointer;
}

.social-container {
  margin-top: 30px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transition: translateY(-2px);
}

a.facebook {
  color: #fff;
}

a.youtube {
  color: #fff;
}

a.twitter {
  color: #fff;
}

.footerDescription {
  color: #e9e8e8;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footerLink {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.footerLink:hover {
  text-decoration: none;
  color: #ffd900;
}

.copyrightSection {
  padding: 20px;
  background-color: #051b35;
}

.copyrightLink {
  text-decoration: none;
  color: #fff;
}

.topFixedPage {
  background-image: url("../image/top-banner.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.topPageOverlay {
  position: absolute;
  min-height: 250px;
  width: 100%;
  /* background: rgba(19, 1, 102, 0.7); */
}

.topContentPage {
  margin-top: 8em;
}

.topPageTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffee00;
  font-size: 38px;
}

/* Home Page Welcome Design */

.intro-area--top {
  margin-top: -70px;
  position: relative;
  z-index: 2;
}

.section-title {
  margin-bottom: 45px;
  position: relative;
}
.section-title .sub-title {
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.section-title .sub-title.double-line::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 10px;
  height: 2px;
  width: 40px;
  background: #051b35;
}

.section-title .sub-title.double-line::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 10px;
  height: 2px;
  width: 40px;
  background: #051b35;
}

.intro-area-inner {
  box-shadow: 0 0 30px rgb(0 0 0 / 7%);
  background: #fff;
  padding: 50px 0 0;
  border-radius: 8px;
}

.mainTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #051b35;
  font-size: 40px;
}

.intro-footer {
  padding: 30px 30px 10px;
  border-radius: 0 0 7px 7px;
}

.bg-base {
  background-color: #fdc800;
}

.sideImg {
  margin-top: -15px;
}

.homeIntro {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #051b35;
  font-size: 16px;
}

.link-style {
  color: #fff;
  text-decoration: none;
}

.link-style:hover {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}
.about-thumb-wrap {
  position: relative;
  border-radius: 4px;
}
.about-thumb-wrap.after-shape {
  margin-right: 30px;
}
.about-thumb-wrap.after-shape:after {
  content: "";
  position: absolute;
  right: 3%;
  width: 154px;
  height: 80%;
  top: 50%;
  border-radius: 10px;
  background: #fdc800;
  z-index: -1;
  transform: translateY(-50%);
}

.projectDetailsText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #051b35;
  font-size: 40px;
}

.project-details {
  margin-left: 35px;
}

.detailsName {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #051b35;
  font-size: 15px;
}

/* Course Details */
.courseDetailsText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #051b35;
  font-size: 40px;
}

.courseDetailsImg {
  width: 100%;
}

.courseDescription {
  line-height: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #051b35;
  opacity: 0.8;
  font-size: 15px;
}

.widget_feature {
  border: 1px solid #051b35;
}

.widget_feature ul {
  padding: 0 25px 20px;
}

.widget_feature ul li {
  color: #051b35;
  font-size: 16px;
  margin-bottom: 9px;
  list-style: none;
}

.widget_feature ul li span {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.widget_feature .price-wrap {
  background-color: #b3cdec;
  padding: 34px 23px 40px;
}

.widget-title {
  margin-top: 20px;
  margin-bottom: 20px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 700;
  font-size: 22px;
  position: relative;
}
/* Lesson */
.blockquote-footer {
  font-size: 16px !important;
  margin-left: 2px;
}

.blockquote-footer::before {
  display: none;
}

.nav-tabs .nav-item {
  border: none !important;
}

.nav-tabs .nav-link {
  font-weight: bold;
  border: none !important;
  color: #2f8f9d !important;
}

.nav-tabs .nav-link.active {
  color: orangered !important;
  background-color: #fff !important;
  border: none !important;
  border-bottom: 2px solid orangered !important;
}

.nav-tabs .nav-link:hover {
  color: orangered !important;
  border: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.video-player {
  width: 100% !important;
  height: 498px !important;
}
